recovery.img
vendor/lib64/libsdk_sr.so
vendor/etc/camera/vidhance.lic
system/system/priv-app/ZuiBrowser/lib/arm64/libwebviewchromium.so
product/preinstall/Douyin/Douyin.apk
product/preinstall/KuaishouVideo/oat/arm64/KuaishouVideo.vdex
product/preinstall/QQMusic/QQMusic.apk
product/preinstall/LenovoSmartScanner/LenovoSmartScanner.apk
product/preinstall/MotoDesktop/MotoDesktop.apk
product/preinstall/LenovoSmartHome/LenovoSmartHome.apk
product/preinstall/LenovoSmartHome/oat/arm64/LenovoSmartHome.vdex
product/preinstall/Weibo/Weibo.apk
product/preinstall/Weibo/oat/arm64/Weibo.vdex
product/preinstall/BaiduSearch/oat/arm64/BaiduSearch.vdex
product/preinstall/BaiduSearch/BaiduSearch.apk
product/preinstall/NetEaseCloudMusic/NetEaseCloudMusic.apk
product/preinstall/NetEaseCloudMusic/oat/arm64/NetEaseCloudMusic.vdex
product/preinstall/Meituxiuxiu/Meituxiuxiu.apk
product/preinstall/NewsArticle/NewsArticle.apk
product/preinstall/Wallet/Wallet.apk
product/preinstall/MotoPrint/MotoPrint.apk
product/overlay/MotoSettingsPRCOverlay.apk
product/priv-app/AiCore/AiCore.apk
product/priv-app/LeVoiceAccessbility/LeVoiceAccessbility.apk
product/priv-app/MotCamera5/MotCamera5.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/Smartservice/Smartservice.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/MotoIconPackage/MotoIconPackage.apk
product/etc/motorola/aicore/bundles/uie+0.0.1.2/uie_model.onnx
product/etc/motorola/aicore/bundles/smsparser+1.0.0.3/model_base_file/resource/NluModelModule/AntLmModel.gguf
system_ext/priv-app/PRCPKBService/PRCPKBService.apk
system_ext/priv-app/MaxeApp/MaxeApp.apk
fs_config_dirs
fs_config_files
